.game-field {
  --border: 1px solid lightgrey; 

  background: #f1f1f1;
  height: 70vh;
  margin: 0 2rem;
  border: var(--border);
  border-bottom: none;
  border-right: none;
}

.game-field__row {
  display: flex;
  border-bottom: var(--border);
}

.game-field__cell {
  border-right: var(--border);
  position: relative;
  overflow: hidden;
}

.game-field__cell > p {
  font-size: 0.7rem;
  position: absolute;
}