:root {
  box-sizing: border-box;
  --green: #2ea44f;
  --box-shadow: 0 0 7px 3px var(--green);
}

*,
::before,
::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.header__title {
  margin-right: 1rem;
  font-style: italic;
  text-shadow: 0 4px 2px var(--green);
}

.header__title::first-letter {
  color: var(--green);
}

.button {
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.button:not(:disabled):hover {
  box-shadow: var(--box-shadow);
}

.info {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  font-size: 2rem;
}

.food {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  width: 32px;
  height: 32px;
}

.icon:hover {
  box-shadow: var(--box-shadow);
  border-radius: 50%;
}

.icon_github {
  background: url('../../github-icon.png');
}

.text_game-over {
  color: red;
}