:root {
  box-sizing: border-box;
  --green: #2ea44f;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.header__logo {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.header__logo__title {
  margin-right: 1rem;
}

.header__logo__title::first-letter {
  color: var(--green);
}

.button {
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.button:hover {
  box-shadow: 0 0 7px 3px var(--green);
}

.info {
  width: 50%;
  height: 2.5rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  text-align: center;
  font-size: 2rem;
}

.food {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  width: 32px;
  height: 32px;
}

.icon:hover {
  box-shadow: 0 0 7px 3px var(--green);
  border-radius: 50%;
}

.icon_github {
  background: url('../../github-icon.png');
}